
.center {
    max-inline-size: var(--mw, 100%);
    margin-inline: auto;
    padding-inline: clamp(2rem, 0.25vw + 1rem, 4rem);
    box-sizing: content-box;
}

.flex-center {
    display: flex;
    align-items: center;
}

@media screen and (min-width:37.5rem) {
    .center {
        --mw: 1440px;
    }
}

@media screen and (min-width: 93.75rem) {
    .center {
        padding-inline: 0;
    }
}