@use "sass:map";

$colours: (
    "violet": hsl(263, 55%, 52%),
    "darkgrayish-blue": hsl(217, 19%, 35%),
    "darkblackish-blue": hsl(219, 29%, 14%),
    "white": hsl(0, 0%, 100%),
    "lightgray": hsl(0, 0%, 81%),
    "lightgraysih-blue": hsl(210, 46%, 95%)
);


@each $name, $value in $colours {
    $colorValue: map.get($colours, $name);
    .bg-#{$name} {
      background-color: $value;
    }

    .color-#{$name} {
      color: $value !important;
    }
  }
  
