@use 'sass:map';
@use '../utilities/colours' as *;

.card {
    border-radius: 0.5rem;
    padding: 1.625rem 2rem 2rem 2rem;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    cursor: pointer;
}

.testimonials {
    --grid-gutter: 1.875rem;
    
    display: grid;
    grid-template-areas:
    "v"
    "d"
    "t"
    "e"
    "g";
    gap: var(--grid-gutter);
    // min-block-size:572px;
}


.testimonial {
@extend .card;
position: relative;
font-size: var(--fs-base);
color: var(--dark-grayish-blue);
transform: translateY(0);
transition: transform 0.2s ease-in-out, opacity 0.3s ease-in-out;

&:hover {
    transform: translateY(-0.5rem);
}

.stack {
    --flowspace: 1.5em;
}

&-author {
    gap: 1.0625rem;
}

&__name {
    font-weight:500;
}

&__role {
    font-size: var(--fs-small);
    opacity: 0.5;
}

&__avatar {
    inline-size:28px;
    block-size: 28px;
    border-radius: 50%;
    outline:2px solid transparent;
}

&__title {
    font-size: 1.25rem;
    font-weight: 600;
}

&__review {
    opacity: 0.7;
    line-height: 18px;
}

& > * {
    max-inline-size: 76ch;
}

    &:nth-of-type(1) {
        grid-area: v;
    }

    &:nth-of-type(2) {
    grid-area: d;
    }
    
    &:nth-of-type(3) {
        grid-area: t;
    }
    
    &:nth-of-type(4) {
        grid-area: e;
        
    }
    
    &:nth-of-type(5) {
        grid-area: g;
        .testimonial__title {
            color: #ECF2F8;
        }
        
    }
    
}

.outline-purple {
    outline-color: #A775F1;
}



@media screen and (min-width: 26.875rem) {
    .testimonial {
        &:nth-of-type(1) {
            background-image: url("/images/bg-pattern-quotation.svg");
            background-repeat: no-repeat;
            background-position: top right 5rem;
            background-size: 6.5rem 6.375rem;
            grid-area: v;
        }
        
    }
}


@media screen and (min-width:36.25rem) {
    .testimonials {
        display: grid;
        grid-template-areas:
        "v v"
        "d e"
        "t t"
        "g g";
    }
}


@media screen and (min-width: 46.875rem) {
.testimonials {
    display: grid;
    grid-template-areas:
    "v v"
    "d t"
    "e t"
    "g g";
    gap:2rem;
    max-inline-size: 55rem;
}


}

@media screen and (min-width: 71.875rem) {
.testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "v v d t"
    "e g g t";
    gap:2rem;
    max-inline-size: 70rem;
}

.testimonial {
    &:nth-of-type(3) {
        grid-area: t;
        > * {
            max-inline-size: 35ch;
        }
    }
}
}
