
@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Barlow Semi Condensed";
    src: url('fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
}