
@use 'reset';
@use 'fonts';
@use 'variables';

@use './utilities/index';
@use './blocks/testimonial';


body {
    background: var(--light-graysih-blue);
    font-family: 'Barlow Semi Condensed';
    font-weight: 500;
    line-height: 1.25;
}